<div class="container">
    <h1 class="text-center my-3">COLEGIO EMILIO UZCATEGUI </h1>
    <div class="card">
        <div class="card-header">
            <h2>CURSO {{learnig.course.id}} - {{learnig.course.name}}</h2>

        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <th>CEDULA</th>
                    <th>NOMBRE</th>
                    <th>APELLIDO</th>
                </thead>
                <tbody>
                    @for (item of learnig.course.students; track $index) {
                    <tr>
                        <td> {{item.identification}} </td>
                        <td> {{item.name}} </td>
                        <td> {{item.surname}} </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>